@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

html {
	height: 100%;
	scroll-behavior: smooth;
	// overflow: hidden;
}

body {
	background-color: #222;
	color: #dfd3c2;
	background-image: url('../img/bg.jpg');
	background-position: 50% 0%;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: raleway, sans-serif;
	font-weight: 500;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	line-height: 1.4;
}

h1 {
	margin: 0;
	font-weight: 700;
	line-height: 1.1;
}

h2 {
	margin: 0;
	line-height: 1.1;
	margin-top: 0.5em;
}

picture img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.viewer-header-double {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vw;
	padding: 0 5%;

	.viewer-header {
		width: auto;
		margin: 0 auto;
		margin-bottom: 3vw;
	}
}

.viewer-header {
	position: relative;
	width: 62.5vw;
	margin: 5vw auto 2.5vw auto;
	padding: 2vw 5vw;
	background-color: #dfd3c2;
	background-image: url('../img/paper.jpg');
	background-size: 25vw;
	box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
	color: #3c6639;
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		top: -0.25vw;
		right: -0.25vw;
		bottom: -0.45vw;
		left: -0.25vw;
		background-image: url('../img/m-tl.png'), url('../img/m-tr.png'), url('../img/m-bl.png'), url('../img/m-br.png');
		background-position: 0 0, 100% 0, 0 100%, 100% 100%;
		background-size: 3vw;
		background-repeat: no-repeat;
	}

	* {
		mix-blend-mode: multiply;
	}

	svg {
		width: 100%;
		fill: #3c6639;
		display: block;
		margin: 1vw 0;
	}
}

.viewer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 5%;

	.box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		video {
			position: relative;
		}

		svg {
			width: 12.5%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&.width-4 {
			&.portrait picture,
			&.landscape picture,
			&.portrait video,
			&.landscape video {
				padding: 2%;
			}

			&.portrait {
				picture {
					width: 67.5%;
					height: 90%;
				}
				video {
					width: 50.625%;
					height: 90%;
				}
			}

			&.landscape {
				picture,
				video {
					width: 90%;
					height: auto;
				}
			}
		}

		&.width-2 {
			width: 50%;

			&.portrait {
				height: 48vw;
			}

			&.landscape {
				margin: 1vw 0;
			}

			&.portrait picture,
			&.landscape picture,
			&.portrait video,
			&.landscape video {
				padding: 1.125%;
			}

			&.portrait {
				picture,
				video {
					width: 67.5%;
					height: 90%;
				}
			}

			&.landscape {
				picture,
				video {
					width: 95%;
					height: auto;
				}
			}
		}

		&.width-1 {
			width: 100%;

			&.portrait {
				height: 75vw;
			}

			&.landscape {
				margin: 1vw 0;
			}

			&.portrait picture,
			&.landscape picture,
			&.portrait video,
			&.landscape video {
				padding: 0.625%;
			}

			&.portrait {
				picture,
				video {
					width: 52.5%;
					height: 90%;
				}
			}

			&.landscape {
				picture,
				video {
					width: 97.5%;
					height: auto;
				}
			}
		}

		&.portrait picture,
		&.landscape picture,
		&.portrait video,
		&.landscape video {
			background-color: #dfd3c2;
			box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
		}
	}

	&#collab-viewer {
		.box.width-4.portrait picture {
			width: 67.5%;
		}
	}
}

.modal {
	background: rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;

	&.show {
		display: block;
	}

	.modal-close {
		background-image: url('../img/close-btn.png');
		background-size: cover;
		position: absolute;
		z-index: 2;
	}

	img,
	video {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: none;
	}

	&.image img,
	&.video video {
		display: block;
	}
}

// mobile only
@media only screen and (max-width: 567px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1em;
	}
	.viewer-header-double {
		flex-direction: column;

		.viewer-header {
			margin-bottom: 10vw;
		}
	}
	.viewer-header {
		padding: 4vw 10vw;

		&::before {
			background-size: 6vw;
		}
		&.has-svg {
			width: 60%;
		}
	}
	.viewer .box {
		&.width-4 {
			width: 50%;

			&.portrait {
				height: 48vw;
			}

			&.landscape {
				margin: 1vw 0;
			}
		}
		&.width-2,
		&.width-1 {
			width: 100%;

			&.portrait {
				height: 130vw;
				margin: 3vw 0;

				picture,
				video {
					height: 99%;
				}
			}

			&.landscape {
				margin: 3vw 0;

				picture,
				video {
					width: 95%;
				}
			}

			&.portrait picture,
			&.landscape picture,
			&.portrait video,
			&.landscape video {
				padding: 1.125%;
			}
		}
	}
	.modal .modal-close {
		width: 12vw;
		height: 12vw;
		top: 6vw;
		right: 6vw;
	}
}

// desktop only
@media only screen and (min-width: 568px) {
	h1 {
		font-size: 3vw;
	}

	h2 {
		font-size: 1.5vw;
	}
	.viewer .box {
		&.width-4 {
			width: 25%;

			&.portrait {
				height: 22.5vw;
			}

			&.landscape {
				margin: 1.5vw 0;
			}
		}
	}
	.modal .modal-close {
		width: 4vw;
		height: 4vw;
		top: 2vw;
		right: 2vw;
	}
}
